<div id="notifications">
  <div class="flash_hud">
    <div class="control">
    </div>

    <% flash.keys.each do |key| %>
      <ul class="<%= key %>">
        <li><%= flash[key] %></li>
      </ul>
    <% end %>
  </div>
</div>
